@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200&display=swap");

.container {
  margin-top: 10em;
  padding: 0em 1em;
  font-family: "Biryani", sans-serif;
}

.content {
  margin-top: 10em;
  display: flex;
  justify-content: space-around;
  width: 100%;

  h1 {
    font-family: "Bebas Neue", cursive;
    position: relative;
    padding-bottom: 0.2em;
    font-size: 2.7em;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4em;
      height: 3px;
      background: #2f3926;
    }
  }

  p {
    margin-top: 1.7em;
    font-weight: bold;
    font-size: 1.1em;
  }

  button {
    outline: none;
    background: #6e5b30;
    margin-top: 2em;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Bebas Neue", cursive;
    cursor: pointer;
    font-size: 1em;

    &:hover {
      background: #6e5b30c0;
    }
  }
}

/* .img {
  width: 100%;
  object-fit: cover;
  height: 13em;
} */

.image {
  border-radius: 65% 35% 21% 79% / 67% 44% 56% 33%;
  animation: blob 1s alternate-reverse infinite;
}

.more_info {
  margin-top: 15em;
  text-align: center;

  .feature {
    margin-top: 1.9em;
    margin-bottom: 5em;
  }

  h1 {
    font-family: "Bebas Neue", cursive;
    color: #1b252e;
  }

  p {
    color: #2c383c;
    font-weight: bold;
  }

  button {
    outline: none;
    border: none;
    background: #2f3926;
    color: white;
    font-family: "Bebas Neue", cursive;
    padding: 0.75em 2em;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 1em;
    cursor: pointer;

    &:hover {
      background: #2f3926d0;
    }
  }
}

.under_cons {
  text-align: center;
  font-size: 1.4em;
}

@media only screen and (min-width: 1024px) {
  .features {
    display: grid;
    justify-content: unset;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;

    .feature {
      text-align: right;
      width: 25em;
    }
  }

  .right {
    grid-template-areas: "left right";

    .img {
      grid-area: right;
    }

    .feature {
      text-align: right;
      width: 25em;
      justify-self: left;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    .image {
      transform: translateX(30%);
    }
  }
}

@media only screen and (max-width: 375px) {
  .under_cons {
    font-size: 1em;
  }
}

@keyframes blob {
  from {
    border-radius: 65% 35% 21% 79% / 67% 44% 56% 33%;
  }
  to {
    border-radius: 76% 24% 60% 40% / 34% 56% 44% 66%;
  }
}
