@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200&display=swap");

.container {
  margin-top: 10em;
  padding: 0em 1em;
  font-family: "Biryani", sans-serif;
}

.content {
  margin-top: 10em;
  display: flex;
  justify-content: space-around;
  width: 100%;

  h1 {
    font-family: "Bebas Neue", cursive;
    position: relative;
    padding-bottom: 0.2em;
    font-size: 2.7em;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4em;
      height: 3px;
      background: #2f3926;
    }
  }

  p {
    margin-top: 1.7em;
    font-weight: bold;
    font-size: 1.1em;
  }

  button {
    outline: none;
    background: #6e5b30;
    margin-top: 2em;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Bebas Neue", cursive;
    cursor: pointer;
    font-size: 1em;

    &:hover {
      background: #6e5b30c0;
    }
  }
}

.image {
  border-radius: 65% 35% 21% 79% / 67% 44% 56% 33%;
  animation: blob 3s alternate-reverse infinite;
}

.more_info {
  text-align: center;
  margin-top: 10em;
}

.feature {
  margin-bottom: 5em;

  .info {
    margin-bottom: 1.75em;
  }

  .title {
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
  }
  .desc {
    color: black;
    font-size: 1rem;
    line-height: 1.5em;
  }
}

.under_cons {
  text-align: center;
  font-size: 1.4em;
}

@media only screen and (min-width: 1400px) {
  .content {
    h1 {
      font-size: 4em;
    }

    p {
      font-size: 1.6em;
    }
  }

  .feature {
    .title {
      font-size: 2em;
    }
    .desc {
      font-size: 1.4em;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
    align-items: center;

    .info {
      width: 25em;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    .image {
      transform: translateX(15%);
    }
  }
}

@media only screen and (max-width: 375px) {
  .under_cons {
    font-size: 1em;
  }
}

@keyframes blob {
  from {
    border-radius: 65% 35% 21% 79% / 67% 44% 56% 33%;
  }
  to {
    border-radius: 76% 24% 60% 40% / 34% 56% 44% 66%;
  }
}
