// coming soon
.container {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../public/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  h1 {
    color: #fff;
    font-size: 2.3em;

    span {
      color: #000;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  .open_menu {
    transform: translateX(0%);
  }

  nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1b252e;
    width: 50%;
    height: 100vh;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out;

    ul {
      list-style-type: none;
      display: block;
      padding: 0;
      margin-top: 8em;
      width: 100%;

      li {
        width: 100%;
      }

      a {
        text-decoration: none;
        font-size: 1.4em;
        color: #fff;
        padding: 0.75em 2em;
        display: block;
        width: 100%;

        &:hover {
          background-color: #2d3e4d;
        }
      }
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1em;
      cursor: pointer;
    }
  }

  .register {
    display: none;
  }

  svg {
    width: 2.5em;
    height: auto;
    cursor: pointer;
  }
}

.hero {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 5em;

  h1 {
    color: #fff;
    font-size: 5em;

    span {
      color: #000;
    }
  }

  p {
    font-size: 1.5em;
    color: #fff;
  }

  svg {
    display: none;
  }
}

.coming_soon {
  text-align: center;
  padding-top: 7em;

  p {
    color: #fff;
    font-size: 7em;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    p {
      width: 700px;
    }
  }

  .header {
    svg {
      display: none;
    }

    nav {
      display: block;
      position: unset;
      transform: translateX(0%);
      width: auto;
      height: auto;
      background: none;

      .close {
        display: none;
      }

      ul {
        display: flex;
        margin: 0;

        a {
          &:hover {
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  .hero {
    h1 {
      font-size: 10em;
    }

    p {
      font-size: 1.7em;
    }
  }

  .coming_soon {
    p {
      font-size: 10em;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
