.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
  width: 100%;

  .logo {
    font-size: 2.3em;
  }

  a {
    color: white;
    text-decoration: none;

    span {
      color: black;
    }
  }

  svg {
    width: 2em;
    height: auto;
    cursor: pointer;
  }
}

.open_menu {
  transform: translateX(0%);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #1b252e;
  z-index: 999;
  transform: translateX(100%);
  transition: transform ease-in-out 0.8s;

  ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin-top: 8em;

    a {
      padding: 0.75em 2em;
      display: block;
      font-size: 1.3em;

      &:hover {
        background-color: #384c5e;
      }
    }
  }

  svg {
    width: 2em;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5em;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    svg {
      display: none;
    }
  }

  .nav {
    position: unset;
    transform: translateX(0%);
    background: none;
    margin: 0;
    padding: 0;
    width: auto;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      svg {
        display: none;
      }

      a {
        &:hover {
          background: none;
          text-decoration: underline;
        }
      }

      .sign_up {
        background: #000;
        border-radius: 5px;
        color: #8b8b8c;
        padding: 0.5em 1em;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: rgba(0, 0, 0, 0.562);
          text-decoration: none;
        }
      }
    }
  }
}
